/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */
.bg-black {
  background-color: black;
}

.bg-gray {
  background-color: #282828;
}

/* GENERICS */
body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

ul {
  list-style-type: none;
}

/* BUTTONS */
.btn-h {
  text-decoration: none;
  padding: 15px 30px;
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
  border: white solid 2px;
  border-radius: 25px;
  margin-right: 15px;
}

/* UTILS */

.debug .border {
  border: red dashed 1px;
}

.container-100vh {
  height: 100vh;
}

.container-100vw {
  height: 100%;
  width: 100vw;
}

.container-main {
  height: 100%;
  max-width: 600px;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.overflow {
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.col-100px-c {
  flex-basis: 100px;
  flex-shrink: 0;
}

/* HEADER */
header {
  height: 100px;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 85px;
  right: 0;
  justify-content: flex-end;
  align-items: center;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 85px;
  flex-shrink: 0;
}

/* MAIN */
main {
  position: relative;
  background-color: #141921;
  padding-top: 120px;
}

.main-nav {
  height: 100px;
}
.main-nav ul {
  min-height: 100%;
  text-align: center;
  flex-wrap: wrap;
}

.main-nav ul li {
  flex-basis: 95px;
  flex-shrink: 0;
}

/* FOOTER */
.controls {
  height: 100%;
}

.controls .current-song,
.controls .volume {
  flex-basis: 28%;
}

.controls .music-controls {
  flex-grow: 1;
}

/* ********** MEDIA QUERY ********** */

@media screen and (min-width: 638px) {
  /* Header */
  header {
    left: 200px;
  }
  /* Sidebar */
  .sidebar {
    flex-basis: 200px;
  }
}
