/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */
.bg-black {
  background-color: black;
}

.bg-gray {
  background-color: #282828;
}

/* GENERICS */
body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* BUTTONS */
.btn-h {
  text-decoration: none;
  padding: 15px 30px;
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
  border: white solid 2px;
  border-radius: 25px;
  margin-right: 15px;
}

/* UTILS */

.debug .border {
  border: red dashed 1px;
}

.container-100vh {
  height: 100vh;
}

.container-100vw {
  height: 100%;
  width: 100vw;
}

.container-main {
  max-width: 700px;
  padding-right: 20px;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.overflow {
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.col-100px-c {
  flex-basis: 100px;
  flex-shrink: 0;
}

/* HEADER */
header {
  height: 100px;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 60px;
  right: 0;
  justify-content: flex-end;
  align-items: center;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 60px;
  flex-shrink: 0;
  text-align: center;
  justify-content: space-between;
}

.sidebar figure {
  padding: 10px;
}

.top-sidebar figure:first-child {
  margin-bottom: 10px;
}

.bottom-sidebar img {
  max-height: 20px;
}

.side-m {
  display: none;
}

.side-m img {
  max-width: 70%;
}

/* .bottom-sidebar figure:first-child img {
  max-width: 50%;
}

.bottom-sidebar figure:last-child img {
  max-width: 70%;
} */

/* MAIN - MAIN NAVBAR */
main {
  position: relative;
  background-color: #141921;
  padding-top: 120px;
  padding-left: 20px;
}

.main-nav {
  min-height: 100px;
}
.main-nav ul {
  height: 100%;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.main-nav ul li {
  flex-basis: 105px;
  height: 50px;
  flex-shrink: 0;
}

/* RECENTLY PLAYED */
.row {
  flex-wrap: wrap;
  margin: 0 -20px;
}

.col {
  flex-basis: 50%;
  min-height: 300px;
}

.card {
  height: 100%;
  padding: 10px;
}

/* FOOTER */
.controls {
  height: 100%;
}

.controls .current-song,
.controls .volume {
  flex-basis: 28%;
}

.controls .music-controls {
  flex-grow: 1;
}

/* ********** MEDIA QUERY ********** */

@media screen and (min-width: 638px) {
  /* Header */
  header {
    left: 200px;
  }
  /* Sidebar */
  .sidebar {
    flex-basis: 200px;
    text-align: left;
  }

  .side-m {
    display: block;
  }

  .side-xs {
    display: none;
  }
}

@media screen and (min-width: 877px) {
  .container-main {
    max-width: 1000px;
  }

  .col {
    flex-basis: 25%;
  }
}

@media screen and (min-width: 1100px) {
  .container-main {
    max-width: 100%;
  }

  .col {
    flex-basis: calc(100% / 6);
  }
}
