/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */
.bg-black {
  background-color: black;
}

.bg-gray {
  background-color: #282828;
}

/* GENERICS */
body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

h2 {
  margin: 15px 0;
}

p {
  margin-bottom: 15px;
}

i {
  color: #a3a3a3;
}

/* BUTTONS */
.btn-h {
  padding: 15px 30px;
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
  border: white solid 2px;
  border-radius: 25px;
  margin-right: 15px;
}

/* UTILS */
.top-content {
  height: calc(100vh - 100px);
}

.container-main {
  padding: 0 20px;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.overflow {
  overflow-y: auto;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 60px;
  flex-shrink: 0;
  text-align: center;
}

.top-sidebar {
  height: calc(100% - 100px);
  overflow: hidden;
}

.bottom-sidebar {
  height: 100px;
}

.sidebar figure {
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.sidebar span {
  display: none;
  margin-left: 5px;
  color: #a3a3a3;
  font-weight: bold;
}

.side-small,
.side-large {
  margin-bottom: 10px;
}

.top-sidebar img {
  max-width: 30px;
}

.playlist {
  display: none;
  padding: 10px;
  margin-top: 20px;
}

.playlist a {
  margin: 20px 0;
  color: #a3a3a3;
}
.playlist div {
  align-items: center;
}

.bottom-sidebar a:first-child figure img {
  max-height: 15px;
}

.img-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #a3a3a3;
  object-fit: cover;
}

.side-large {
  display: none;
}

.side-large img {
  max-width: 90%;
}

/* HEADER */
header {
  height: 100px;
  background-color: black;
  opacity: 0.5;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

/* MAIN - MAIN NAVBAR */
main {
  background-color: #141921;
}

.main-nav {
  min-height: 100px;
}
.main-nav ul {
  flex-wrap: wrap;
  justify-content: center;
}

.main-nav ul li {
  height: 50px;
  margin: 0 10px;
  flex-shrink: 0;
}

.main-nav ul a {
  padding: 10px 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #a3a3a3;
}

/* RECENTLY PLAYED, CREATO PER JOHN DOE, ARTISTI */
.row {
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  flex-basis: 50%;
  min-height: 330px;
}

.card {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.card figure {
  position: relative;
  transition: transform 0.5s;
}
#rec-played h4,
#forjohndoe h4,
#artists h4 {
  margin: 8px 0;
}

#rec-played span {
  font-size: 0.7rem;
  font-weight: bold;
  color: #a3a3a3;
}

#artists img {
  border-radius: 50%;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 0 10px;
}

.controls {
  height: 100%;
}

.controls .current-song,
.controls .volume {
  flex-basis: 230px;
}

.controls .music-controls {
  flex-grow: 1;
}

footer i {
  cursor: pointer;
  margin: 0 5px;
}

.current-song {
  align-items: center;
}

.current-song figure {
  width: 45px;
  height: 45px;
}

.song-info {
  font-size: 0.8rem;
  flex-wrap: wrap;
  flex-basis: 100px;
}

.song-info > div {
  margin-left: 10px;
  cursor: pointer;
  color: #a3a3a3;
}

.song-info > div:first-child {
  font-size: 1.1rem;
  font-weight: bold;
}

.cs-icons {
  flex-wrap: wrap;
}

.cs-icons > div {
  margin-left: 15px;
}

.btn-music,
.progress-music {
  height: 50%;
}

.btn-music {
  justify-content: center;
  align-items: center;
}

.btn-music i:nth-child(3) {
  font-size: 1.5rem;
  margin: 0 25px;
}

.btn-music i:nth-child(even) {
  margin: 0 15px;
}

.progress-music {
  justify-content: center;
  align-items: center;
}

.progress-sec {
  text-align: center;
  flex-basis: 10%;
  font-size: 0.8rem;
  font-weight: bold;
}

.progress-bar {
  flex-basis: 50%;
  height: 5px;
  border-radius: 5px;
  background-color: #a3a3a3;
  position: relative;
  margin: 0 5px;
}

.volume {
  align-items: center;
  justify-content: flex-end;
}

.progress-volume {
  width: 40%;
  height: 5px;
  border-radius: 5px;
  background-color: #a3a3a3;
  position: relative;
}

.value {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: white;
  border-radius: 5px;
}

.marker {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #dedede;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  display: none;
}

/* EFFETTI HOVER */

i:hover,
.main-nav ul a:hover,
.sidebar span:hover,
.playlist a:hover,
.song-info div:hover {
  color: white;
}

header .btn-h:hover {
  transform: scale(1.1);
}

.container-main .card:hover figure {
  transform: scale(1.05) translateY(-10px);
}

#rec-played figure:hover::after,
#forjohndoe figure:hover::after,
#artists figure:hover::after {
  content: "\f144";
  color: white;
  font-family: "Font Awesome 6 Free";
  font-size: 38px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#artists figure:hover::after {
  border-radius: 50%;
}

.main-nav li:hover::after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #adff2f;
  margin: 3px auto;
}

.controls .value:hover {
  background-color: #adff2f;
  cursor: pointer;
}

.controls .value:hover .marker {
  display: inline-block;
}

/* ********** MEDIA QUERY ********** */

@media screen and (min-width: 638px) {
  /* Sidebar */
  .sidebar {
    flex-basis: 230px;
    text-align: left;
  }

  .sidebar figure {
    justify-content: flex-start;
  }

  .sidebar span {
    display: inline-block;
  }

  .side-large,
  .playlist {
    display: block;
  }

  .side-small {
    display: none;
  }
}

@media screen and (min-width: 820px) {
  .col {
    flex-basis: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .col {
    flex-basis: calc(100% / 6);
  }
}
